h1 {
  background-color: rgb(61, 61, 170);
  color: white;
}

ul nav {
  margin: 5%;
}

li {
  display: inline-flex;
  margin-right: 15%;
}

body {
  width: 80%;
  background-color: rgb(252, 231, 3);
  margin: 0 auto;
  text-align: justify;
}

a:link {
  color: rgb(37, 89, 185);
}

/* a:visited {
  color: violet;
} */
