* {
  box-sizing: border-box;
}
form {
  padding: 1em;
  background: rgb(218, 161, 76);
  border: 1px solid black;
  margin-top: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
form input {
  margin-bottom: 1rem;
  background: white;
  border: 1px solid #9c9c9c;
}
label {
  text-align: right;
  display: block;
  padding: 0.5em 1.5em 0.5em 0;
}

.myinput {
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
  display: block;
}
input:focus,
select:focus,
textarea:focus {
  background-color: rgb(220, 224, 159);
}
.center {
  text-align: center !important;
}
input[type='submit'],
input[type='reset'] {
  background: lightgray;
  padding: 0.7em;
  border: 0;
}
h1 {
  text-align: center;
  font-style: italic;
}
.imgAssignment {
  height: 300px;
}
.imgMeetUp {
  height: 200px;
}
.imgHome {
  height: 150px;
}
.grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 15% 85%;
  grid-template-rows: 10% 80% 10%;
  margin: 25px auto;
  width: 80%;
}

.gridContact {
  grid-template-rows: 13% 73% 14%;
}

.gridMeetup {
  grid-template-rows: 12% 80% 13%;
}

.grid-area {
  font-family: serif, Helvetica, Arial, sans-serif;
  background-color: #c1d798;
  color: rgb(77, 72, 72);
  padding: 25px 25px;
  text-align: center;
}

h1,
h2 {
  margin-top: 40px;
}

.grid-area-1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 0px;
}
.grid-area-2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
ul {
  list-style-type: none;
  text-align: left;
  padding: 0px;
}

ul li {
  padding-bottom: 10px;
}
.grid-area-3 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: left;
  min-height: 145px;
}
.grid-area-4 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: left;
}
